.Antonyms ul {
  display: inline;
  padding-left: 0;
}

.Antonyms li {
  font-size: 15px;
  display: inline-block;
  line-height: 1;
  opacity: 0.8;
  border: 0.001rem solid #a62f00;
  border-radius: 22px;
  padding: 2px 8px;
  margin: 4px 3px;
}

.Antonyms .antonyms-list {
  color: #a62f00;
}