body {
  background: #44aab8;
  font-family: 'Judson', serif;
  color: #172526;
}

a {
  font-size: 12px;
  text-decoration: none;
  color:  #d4e2e3;
;
}

a:hover {
  color: #fff;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 140px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  font-size: 12px;
  margin: 40px 0;
  color: #fff;
}

@media (max-width: 576px) {
   
.App {
  max-width: 460px;
}

.App footer {
    font-size: 10px;
  }
   .App footer a {
  font-size: 10px;
}
}