body {
  background: #44aab8;
}

a {
  font-size: 11px;
  text-decoration: none;
  color: #c3e2e7;
}

a:hover {
  color: #fff;
}

.App {
  max-width: 900px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 140px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  font-size: 11px;
  margin: 40px 0;
  color: #fff;
}
