body {
  background: #f9f9f9;
}

a {
  color: #2b475c;
}

.App {
  max-width: 900px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 150px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  font-size: 10px;
  margin: 30px 0;
}
