.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  margin: 20px 0;
}


.Dictionary .btn {
  background: #daecf2;
  border-color: #daecf2;
}

.Dictionary .btn:hover {
  background: #04ac8f;
  color: white;
}

