.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.Dictionary section {
  background: white;
  padding: 30px 40px;
  border-radius: 28px;
  box-shadow: 10px 8px 10px rgb(0 0 0 / 10%);
  margin-top: 30px;
}

.Dictionary .form-control {
  border-radius: 22px;
  border: 1px solid #d4e2e3;
  height: 40px;
  box-shadow: 0 0.25rem 0.5rem rgb(68 170 184 / 20%);
}

.Dictionary .btn {
  background: linear-gradient(
    to right,
    #44aab8,
    #a3d2d8,
    #d4e2e3,
    #d3e8ea,
    #44aab8
  );
  border: none;
  border-radius: 22px;
  height: 41px;
}

.Dictionary .btn:hover {
  background: linear-gradient(
    to right,
    #d4e2e3,
    #d3e8ea,
    #a3d2d8,
    #44aab8,
    #a3d2d8,
    #d3e8ea,
    #d4e2e3
  );
}

@media (max-width: 410px) {
  .Dictionary h1 {
    font-size: 17px;
  }
}

@media (max-width: 390px) {
  .Dictionary h1 {
    font-size: 15px;
  }
}
