.Photos img {
  border-radius: 8px;
  margin: 12px 0;
  transition: all 300ms ease-in-out;
}

.Photos img:hover {
  transform: scale(1.05);
}

@media (max-width: 576px) {
  .Photos img {
margin: 10px 0;
  }
}

